---
layout: default
---
<div class="top-title-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page-info">
                    <h1 class="h1-page-title" style="font-weight: bolder">{{ page.title }}</h1>

                    <!-- BreadCrumb -->
                    <div class="breadcrumb-container">
                        <ol class="breadcrumb">
                            <li>
                                <a href="{{site.url}}">Home</a>
                            </li>
                            <li class="active">{{ page.title }}</li>
                        </ol>
                    </div>
                    <!-- BreadCrumb -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-wrapper">
    <div class="body-wrapper">
        <div class="container">
            <div class="row">
                {{ content }}
                <style type="text/css">
                    .body-wrapper a{
                        color: #279FBB;
                    }
                </style>
            </div>
        </div>
    </div>
</div>