---
layout: page-with-header
---
<style type="text/css">
    .navbar .active{
        font-weight: bold;
    }
</style>
    <div class="col-md-9">
        {{ content }}
    </div>

    <div class="col-md-3 col-sm-3 navbar">
        <ul class="nav nav-tab nav-stacked list-group affix-top" data-spy="affix">
        {% assign active = ' active' %}
            {% for item in page.navigation-bar %}
                <li class="{{active}}"><a href="#{{item.Reference}}">{{item.Title}}</a></li>
                {% assign active = '' %}
            {% endfor %}
        </ul>
    </div>